@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&&family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}



#titlecontainer {
  display: flex;
  flex-direction: column;

  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-color: #0f4c81;
}

#title{
    border: 0.5vmin solid white;
    padding: 1vmin 10vmin 25vmin 1vmin;

    font-size: 3vmin;
    color: white;

    z-index: 2;
}


#my-shine-object {
  position: absolute;
  z-index: 1;

  font-size: 60vmin;
  color: #0f4c81;

  margin:0;
}

#hex {
  position: absolute;
  z-index: 3;
  bottom: 10vmin;

  /* font-family: 'Rock Salt', cursive; */
  /* font-family: 'Kristi', cursive; */

  font-family: 'League Script', cursive;

  color: white;
  font-size: 5vmin;
  letter-spacing: 10vmin;
}

.block {
  object-fit: cover;
  width: 100%;
}

.headline {
  padding-top: 60vmin;
  height: 40vh;
  line-height: 1.7;

  font-size: 1.6vmin;
  align-items: center;
  justify-content: center;

  font-family: 'Manrope', sans-serif;
  color: #0f4c81;

  text-align: center;

}

.section {
    clear: both;
    width: 100%;
    min-height: 900px;
    overflow: auto;
    box-sizing: border-box;
    /* position: relative; */
    overflow: hidden;
}

.section-3 .text-wrapper {
    max-width: 600px;
    margin: auto;
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 4%;

}

.section-3 .text-wrapper span {
    opacity: 0;
    -webkit-transition: opacity 0.2s;

}

.section-3 .text-wrapper span.visible {
    opacity: 1;

}



.grid {
  max-width: 100vw;
  margin: 0 auto;

}

.grid-sizer,
.grid-item {
   width: 420px;
   margin-bottom: 1vmin;
}



.grid-item > img {
  width: 100%;
  object-fit: cover;
}

#gridContainer {
  margin: 0 auto;
}


#circlesmall {
  height: 30vmin;
  width: 30vmin;
  background-color: rgba(15, 76, 129,0.3);
  border-radius: 50%;
  margin-left: 15vmin;
}

#circlesmall2 {
  float: right;
  height: 10vmin;
  width: 10vmin;
  background-color: rgba(15, 76, 129,0.6);
  border-radius: 50%;
  /* margin-right: 15vmin; */
}

#rectangle {
  height: 60vmin;
  width: 15vmin;
  background-color: rgba(15, 76, 129,0.1);

  margin-left: 70vmin;
  }

#rectangle2 {
    height: 50vmin;
    width: 10vmin;
    background-color: rgba(15, 76, 129,0.1);
    float: right;
    margin-right: 30vmin;
    }
